@model ASP_GalleryModule.ViewModels.Gallery.ViewGalleryViewModel
@using ASP_GalleryModule.Models.Service

<h3>@Model.GalleryTitle</h3>
<p>@Model.GalleryDescription</p><br />
@{ int count = Config.ImagesPerGallery - Model.ImagesCount; }
<p>Доступный лимит для загрузки: @count</p><br />

@if (Model.ImagesCount < Config.ImagesPerGallery)
{
<form asp-controller="Gallery" asp-action="ViewGallery" method="post" enctype="multipart/form-data">
    <div>
        <input type="hidden" asp-for="GalleryId" value="@Model.GalleryId" />
        <input type="hidden" asp-for="GalleryDate" value="@Model.GalleryDate" />
        <input type="hidden" asp-for="UserName" value="@Model.UserName" />
        <input type="hidden" asp-for="GalleryTitle" value="@Model.GalleryTitle" />
        <input type="hidden" asp-for="GalleryDescription" value="@Model.GalleryDescription" />
    </div>
    <div>
        <font color="red">@Html.ValidationMessageFor(f => f.GalleryImage)</font><br />
            <input type="file" name="uploads" accept=".jpg,.jpeg,.png" multiple="" /><br />
    </div>
    <div>
        <input type="submit" value="Добавить" />
    </div>
</form>
}
<br />
<br />
<center>
    @if (Model.GalleryImages != null && Model.GalleryImages.Count > 0)
    {
        foreach (var image in Model.GalleryImages)
        {
            <a href="@Url.Content(image.ImagePathNormal)" target="_blank"><img src="@Url.Content(image.ImagePathScaled)" /></a>
            <b>@Html.ActionLink("Del", "ViewGallery", "Gallery", new { galleryId = Model.GalleryId, imageToDeleteName = image.ImageName })</b>
        }
    }
</center>

@section scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
